.input-style{
 color: antiquewhite    ;
min-height: 35px;
    background: rgb(0, 0, 24)  ;
    outline: none;
    border: none;
    border-radius: 20px;
} 

.button-add {

    color: #ffffff;
    background-color: #03122c;
    font-size: 16px;
    border: 0px solid #02163b;
    border-radius: 11px;
    padding: 14px 48px;
    letter-spacing: 1px;
    cursor: pointer ; 
    transition: 0.2s;
    font-weight: bold;
}
.button-add:hover {
    background-color: #008528;
}